#submitButton {
    margin-top: 80px;
    right:0;
    margin-left: 10px;
}
.adminPost {
    padding: 20px;
    height: 55vh;
    position: relative;
    overflow-y: scroll;
}
.postTextArea {
    display: flex;
    height: 25vh;
    max-height: 30vh;
    justify-content: space-between;
}
textarea {
    margin-top: 13px !important;
    min-height: 2vh;
    max-height: 20vh;
}
.file-field {
    /* background-color: aqua; */
    width: 50vw !important; 
    height: 40px !important;
}
.navText {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navText:hover {
    color: white;
}
#slide-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #F9BE1E;
    padding: 20px;
}
#slide-out li {
    font-size: larger !important;
    padding: 30px;
}
.navText {
    font-size: 1.5em !important;
}
.selected {
    font-weight: bold !important;
}

header div ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 30vw;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.spacer {
    flex-grow: 1;
}
.cardHeight {
    height: 800px;
}
.cardholder {
    height: 800px;
    margin-top: 40px;
    width: 400px;
}
.desktopLogo {
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    height: 100px;
}
@media screen and (max-width: 900px) {
    .cardholder {
        margin-top: 10px;
    }
}
header div {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #F9BE1E;
}
header div a {
    margin-left: 20px;
}
.material-icons {
    font-size: 4rem !important;
    
}

header div h5 {
    margin-left: 30px;
}
header {
    margin: 0 !important;
    width: 100vw;
    height: 100px;
}
.logoutButton {
    cursor: pointer;
    font-size: large;
    margin-top: 30px;
    margin-right: 90px;
}
.logoutButton:hover {
    color: black !important;
}